<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      </ion-buttons>
    <ion-title color = "primary">Log overnight</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <h6>
      Enter amount of time sleep...
      </h6>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Start
      </ion-label>
      <ion-datetime placeholder = "M/D/YY Hr:Min"
      displayFormat = "MMM D, YY H:mm" min="2020" max="2040"
      [(ngModel)] = "startOverDate">
      </ion-datetime>
    </ion-item>
    <ion-item>
    <ion-label>
      End
    </ion-label>
      <ion-datetime placeholder = "M/D/YY Hr:Min"
      displayFormat = "MMM D, YY H:mm" min="2020" max="2040"
      [(ngModel)] = "endOverDate">
    </ion-datetime>
    </ion-item>
  </ion-list>

    <ion-button expand="block" shape="round" (click)="addOvernight()" [routerLink] = "['/logov']">
      Log
    </ion-button>

</ion-content>
