ion-toolbar {
  --ion-toolbar-background: transparent !important;
}

ion-list{
  background: transparent;
}
ion-list-header{
  color: azure;
}

ion-datetime{
  background: transparent;
}

ion-content{
  --background: url(../../assets/images/stars.jpg) no-repeat center/cover fixed;
}
